<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ticket.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @ticket.surname %>
</p>

<p>
  <strong>Train:</strong>
  <%= @train.number %>
</p>

<%= link_to 'All my tickets', tickets_path %>
