<%= form_for [:admin, @train, @carriage] do |form| %>
  <%= render 'common/errors', resource: @carriage %>
  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :upper_places_amount, 'Upper places amount' %>
    <%= form.text_field :upper_places_amount %>
  </div>

  <div class="field">
    <%= form.label :down_places_amount, 'Down places amount' %>
    <%= form.text_field :down_places_amount %>
  </div>

  <div class="field">
    <%= form.label :down_places_amount, 'Side down places amount' %>
    <%= form.text_field :side_down_places_amount %>
  </div>

  <div class="field">
    <%= form.label :down_places_amount, 'Side upper places amount' %>
    <%= form.text_field :side_upper_places_amount %>
  </div>

  <div class="field">
    <%= form.label :down_places_amount, 'Seating places amount' %>
    <%= form.text_field :seating_places_amount %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>