<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @carriage.type %>
</p>
<p>
  <strong>Pinned to the train:</strong>
  <% if !@carriage.train.nil? %>
    <%= @carriage.train.number %>
  <% else %>
    None
  <% end %>
</p>

<% if @carriage.type == 'EconomyCarriage' %>
  <div class="field">
    <strong>Amount of side upper places:</strong>
    <%= @carriage.side_upper_places_amount %>
  </div>
  <div class="field">
    <strong>Amount of side down places:</strong>
    <%= @carriage.side_down_places_amount %>
  </div>
<% end %>

<% if @carriage.type == 'CoupeCarriage' || @carriage.type == 'EconomyCarriage' || @carriage.type == 'SleeperCarriage' %>
<div class="field">
  <strong>Amount of down places:</strong>
  <%= @carriage.down_places_amount %>
</div>
<% end %>

<% if @carriage.type == 'CoupeCarriage' || @carriage.type == 'EconomyCarriage' %>
  <div class="field">
    <strong>Amount of upper places:</strong>
    <%= @carriage.upper_places_amount %>
  </div>

<% elsif @carriage.type == 'SeaterCarriage' %>
  <div class="field">
    <strong>Amount of Seating places:</strong>
    <%= @carriage.seating_places_amount %>
  </div>
<% end %>

<%= link_to 'Back', admin_train_path(@carriage.train) %>
<%= link_to 'Delete', admin_carriage_path(@carriage), method: :delete, data: { confirm: 'Are you sure?' } %>

