<!DOCTYPE html>
  <head>
    <title>RailwayApp - Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= link_to t('.home'), welcome_index_path%>
    <%= link_to t('.stations'), admin_railway_stations_path%>
    <%= link_to t('.trains'), admin_trains_path %>
    <%= link_to t('.routes'), admin_routes_path %>
    <%= link_to t('.tickets'), admin_tickets_path %>
    <%= link_to 'Русский', "#{request.env['PATH_INFO']}" + root_path(locale: :ru) %>
    <%= link_to 'English', "#{request.env['PATH_INFO']}" + root_path(locale: :en) %>
    <% if user_signed_in? %>
      <%= link_to t('.log_out'), destroy_user_session_path, method: :delete %>
      <%= t('.account') +': ' + current_user.email %>
    <% else %>
      <%= link_to t('.log_in'), new_user_session_path %>
    <% end %>
  </head>
  <body>
    <p id="notice" class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
<p>
  (с) 2021 Misha Makhnovskyy. Study project in
  <a href = http://www.thinknetica.com >Thinknetica online school</a>
</p>
</html>